<!-- Modal button -->
<button class="btn btn-outline-primary float-right m-2 p-2" data-toggle="modal" [attr.data-target]="'#productoModal'+id_producto" (click)="autocompletar_form()">
    <span class="material-icons md-18 float-left ">edit</span>
    <span class="sr-only">(current)</span>
</button>


<!-- Modal -->
<div class="modal fade" id="productoModal{{id_producto}}" tabindex="-1" role="dialog" aria-labelledby="productoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-negon-primary">
                <h5 class="modal-title white" id="productoModal">
                    <span class="material-icons float-left mt-sm-1">description</span>
                    <!-- <input type="email" class="modal-title border-0 ml-2" id="inputEmail4" [value]="producto.nombre"> -->
                    <span class="ml-2 float-rigth">Datos de producto</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons text-white" aria-hidden="true">close</span>
                </button>
            </div>

            <div class="modal-body">

                <form novalidate [formGroup]="productoForm">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <img *ngIf="producto.img === ''; else contieneImg" src="{{default_img}}" class="card-img-top img-card" [alt]="producto.nombre">
                            <ng-template #contieneImg>
                                <img src="{{const_base64 + producto.img}}" class="card-img-top img-card p-2" [alt]="producto.nombre">
                            </ng-template>
                        </div>
                        <div class="form-group col-md-4">
                            <div>
                                <label class="grey-text font-weight-light">Nombre de producto</label>
                                <input type="text" class="form-control" formControlName="nombre" required>
                                <div *ngIf="productoForm.get('nombre').touched; then validar_nombre"></div>
                                <ng-template #validar_nombre>
                                    <span *ngIf="productoForm.get('nombre').hasError('required')" class="float-left red-text"> Este campo es requerido.</span>
                                    <span *ngIf="productoForm.get('nombre').hasError('minlength')" class="float-left red-text">El nombre debe tener al menos 3 caracteres.</span>
                                </ng-template>
                            </div>
                            <br>
                            <div>
                                <label class="grey-text font-weight-light">Marca</label>
                                <input type="text" class="form-control" formControlName="marca">
                                <div *ngIf="productoForm.get('marca').touched; then validar_marca"></div>
                                <ng-template #validar_marca>
                                    <span *ngIf="productoForm.get('marca').hasError('minlength')" class="float-left red-text">Debe ingresar al menos 3 caracteres.</span>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div>
                                <label class="grey-text font-weight-light">Codigo de barra</label>
                                <input type="text" class="form-control" formControlName="codigo_barra">
                                <div *ngIf="productoForm.get('codigo_barra').touched; then validar_cod"></div>
                                <ng-template #validar_cod>
                                    <span *ngIf="productoForm.get('codigo_barra').hasError('minlength')" class="float-left red-text">Debe ingresar al menos 3 caracteres.</span>
                                </ng-template>
                            </div>

                            <br>

                            <form novalidate [formGroup]="productoForm.get('tipos')">
                                <div>
                                    <label class="grey-text font-weight-light">Tipo de producto</label>
                                    <input type="text" class="form-control" formControlName="tipo_1" required>
                                    <div *ngIf="productoForm.get('tipos').get('tipo_1').touched; then validar_tipo"></div>
                                    <ng-template #validar_tipo>
                                        <span *ngIf="productoForm.get('tipos').get('tipo_1').hasError('required')" class="float-left red-text"> Este campo es requerido.</span>
                                        <span *ngIf="productoForm.get('tipos').get('tipo_1').hasError('minlength')" class="float-left red-text"> Debe ingresar un tipo de al menos 2 caracteres.</span>
                                    </ng-template>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="grey-text font-weight-light">Precio de venta</label>
                            <div class="input-group">
                                <div class="input-group-prepend form-group">
                                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                                </div>
                                <input type="number" class="form-control" formControlName="precio_venta" (keyup)="getf_porcentaje()">
                                <div *ngIf="productoForm.get('precio_venta').touched; then validar_pventa"></div>
                                <ng-template #validar_pventa>
                                    <span *ngIf="productoForm.get('precio_venta').hasError('min')" class="float-left red-text"> No se permiten valores negativos.</span>
                                    <span *ngIf="productoForm.get('precio_venta').hasError('max')" class="float-left red-text"> Se supero el valor maximo admitido.</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="grey-text font-weight-light">Precio de costo</label>
                            <div class="input-group">
                                <div class="input-group-prepend form-group">
                                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                                </div>
                                <input type="number" class="form-control" formControlName="precio_costo" (keyup)="getf_porcentaje()">
                                <div *ngIf="productoForm.get('precio_costo').touched; then validar_pcosto"></div>
                                <ng-template #validar_pcosto>
                                    <span *ngIf="productoForm.get('precio_costo').hasError('min')" class="float-left red-text"> No se permiten valores negativos.</span>
                                    <span *ngIf="productoForm.get('precio_costo').hasError('max')" class="float-left red-text"> Se supero el valor maximo admitido.</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="grey-text font-weight-light">Porcentaje de utilidad</label>
                            <div class="input-group">
                                <input type="text" class="form-control text-right" formControlName="porcentaje_utilidad" appTwoDigitDecimaNumber readonly>
                                <div class="input-group-append form-group">
                                    <span class="input-group-text" id="inputGroupPrepend">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer p-0">
                <div class="text-center">
                    <button type="button" class="btn btn-outline-primary m-2 p-2" data-dismiss="modal">
                        <span class="material-icons md-18 float-left pt-1">arrow_back</span>
                        <span class="ml-1">Cancelar</span>
                    </button>

                    <a href="#ModalWarning_{{id_producto}}" role="button" class="btn btn-outline-primary m-2 p-2" data-toggle="modal">
                        <span class="material-icons md-18 float-left pt-1">delete</span>
                        <span class="ml-1">Eliminar</span>
                    </a>

                    <button type="button" class="btn btn-outline-primary m-2 p-2" (click)="guardar_producto(id_producto)" [disabled]="productoForm.invalid">
                        <span class="material-icons md-18 float-left pt-1">save</span>
                        <span class="ml-1">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-btn-warning-modal [i_idProducto]="id_producto"></app-btn-warning-modal>