<!-- Central Modal Warning Demo-->
<div id="ModalWarning_{{i_idProducto}}" class="modal fade show" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="'#productoModal'+i_idProducto" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header bg-negon-secondary">
                <h5><strong>Advertencia</strong></h5>
            </div>

            <!--Body-->
            <div class="modal-body">

                <h6><strong>¿ Esta seguro que desea eliminar este producto ?</strong></h6>
                <small class="text-grey">Nota: Los productos eliminados se podran recuperar desde productos archivados durante un periodo de 30 dias.</small>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center bg-negon-secondary p-0">
                <button type="button" class="btn btn-primary" (click)="eliminar_producto(i_idProducto)">Aceptar</button>
                <a type="button" class="btn btn-primary text-white" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>