<div class="card shadow-sm">
    <img *ngIf="producto.img === ''; else contieneImg" src="{{default_img}}" class="card-img-top img-card" [alt]="producto.nombre">
    <ng-template #contieneImg>
        <img src="{{const_base64+producto.img}}" class="card-img-top img-card" [alt]="producto.nombre">
    </ng-template>
    <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text"><small class="text-muted">Codigo de barra: {{ producto.codigo_barra }}</small></p>
        <div class="row mtxt-price">
            <div class="col-md-6 text-primary">
                <h4 class="my-2"> ${{ producto.precio_venta }} </h4>
            </div>

            <div class="col-md-6">
                <app-modal-prod [producto]="producto" [id_producto]="id_producto"></app-modal-prod>
            </div>
        </div>
    </div>
</div>