 .navbar-custom {
     background-color: #0d47a1 !important;
 }
 
 .btn-color-custom {
     background-color: #0064E0 !important;
 }
 
 .btn-square-40 {
     max-height: 40px !important;
     max-width: 40px !important;
 }
 /* Estilos para logos e iconos de pagina.*/
 
 .navbar-logo {
     display: inline-block;
     vertical-align: middle;
     width: 180px;
 }
 
 .navbar-logo img {
     display: block;
     width: 160px;
     height: auto;
 }
 /* Estilos de boton hamburger*/
 /* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214,214,214, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler { */
 /* border-color: rgb(20, 75, 255); // Blue*/
 /* border-color: rgb(134, 134, 134); Grey */
 /* border-color: rgb(214, 214, 214);
} */
 /* Alto de navbar*/