<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom shadow-sm p-1">

    <a class="navbar-logo mr-auto d-block d-lg-none" [routerLink]="['/home']">
        <img class="img-fluid" src="assets/img/logo-name-dark.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="navbar-toggler-icon">
    </span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">

            <!-- <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li> -->

            <!-- <li class="nav-item navbar-nav">
                <button class="btn btn-secondary btn-color-custom mr-1 my-1" id="toggle-sidebar">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </li> -->

            <li>
                <button class="btn btn-primary p-2 mb-1 mr-1" [routerLink]="['/home']">
                    <span class="material-icons float-left">home</span>
                </button>
            </li>

            <li>
                <button class="btn btn-primary p-2 mb-1">
                    <span class="material-icons float-md-left">store</span>
                    <span class="ml-2">Mis negocios</span>
                </button>
            </li>

        </ul>

        <ul class="nav navbar-nav mx-auto d-lg-block d-none">
            <li class="nav-item">
                <a class="navbar-logo" [routerLink]="['/home']">
                    <img class="img-fluid" src="assets/img/logo-name-dark.png" alt="">
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li>
                <button class="btn btn-primary p-2 mr-1 mb-1" type="button">
                    <span class="material-icons float-left">add</span>
                </button>
            </li>

            <li>
                <button class="btn btn-primary p-2 mr-1 mb-1" type="button">
                    <span class="material-icons float-left">notifications</span>
                </button>
            </li>

            <li>
                <button class="btn btn-primary p-2" type="button" [routerLink]="['/user']">
                    <span class="material-icons float-left">account_circle</span>
                </button>
            </li>
        </ul>

    </div>

</nav>