/* Estilos de tipos de textos*/

.mtxt-price {
    color: rgb(0, 108, 248);
}


/* Estilos tamao de imagenes*/

.img-card {
    width: 100%;
    height: auto;
    text-align: center;
}

.sizecard-sm {
    width: auto;
    height: auto;
    max-width: 225px;
}


/* estilos btn*/

.circle-btn {
    border-radius: 25px;
}