<div class="col-md-9 ml-sm-auto col-lg-10 px-0">

    <app-navbar-prod (event_termino)="buscarProducto( $event )"></app-navbar-prod>

    <div class="ml-4 mt-2">
        <h5>Productos</h5><br>

        <div *ngIf="termino === '_start'" class="alert alert-primary mr-4" role="alert">
            <h4 class="alert-heading">
                <span class="material-icons mt-1 mr-2 float-left">settings</span>
                <span>Administra tus productos!</span>
            </h4>
            <p>En esta seccion puedes buscar, agregar, editar y eliminar los productos de tu negocio.</p>
            <hr>
        </div>

        <div *ngIf="(productosSearch.length == 0)&&(termino != '_start')&&(termino != '')" class="alert alert-warning mr-4" role="alert">
            <span class="material-icons mr-2 float-left">info</span>
            <span>No se encontraron resultados para el producto <strong>{{termino}}</strong>!</span>
        </div>

        <div *ngIf="termino === ''" class="alert alert-warning mr-4" role="alert">
            <span class="material-icons mr-2 float-left">info</span>
            <span>Escribe el nombre de un producto para iniciar la busqueda!</span>
        </div>

        <div class="card-columns">
            <app-card-product-new></app-card-product-new>
            <app-card-producto [producto]="producto" [id_producto]="i" *ngFor="let producto of productosSearch; let i = index"></app-card-producto>
        </div>
    </div>
</div>