/* Colores principales*/

.bg-negon-primary {
    background-color: #0d47a1;
    color: white;
}

.bg-negon-light-primary {
    background-color: #0d48a11a;
    color: white;
}

.bg-negon-secondary {
    background-color: #f0efef;
    color: #0d47a1;
}


/* Color de texto*/

.text-negon-primary {
    color: #0d47a1;
}


/* Reglas de tamaños de iconos (material-icons). */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-192 {
    font-size: 192px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* Botones circulares*/

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle.btn-md {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


/* Estilos para color de fuentes de texto*/

.text-light-grey {
    color: rgb(211, 211, 211);
}

.text-grey {
    color: rgb(112, 112, 112);
}


/* Forms validations*/

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}