<!-- Modal button -->
<button class="btn btn-outline-primary shadow-sm p-2" data-toggle="modal" data-target="#productoModalNew">
    <span class="material-icons float-md-left mr-2">add</span>
    <span class="float-right">Agregar</span>
</button>

<!-- Modal -->
<div class="modal fade" id="productoModalNew" tabindex="-1" role="dialog" aria-labelledby="productoModalNew" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title indigo-text" id="productoModal">
                    <span class="material-icons float-left mt-sm-1">description</span>
                    <span class="ml-2 float-rigth">Datos de producto</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true ">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form class="needs-validation" novalidate [formGroup]="newProductForm">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="text-center text-light-grey">
                                <span class="material-icons md-192 m-2">note_add</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="md-form">
                                <label for="#1_nombre" class="grey-text font-weight-light">Nombre de producto</label>
                                <input type="text" class="form-control" formControlName="nombre" id="#1_nombre" required>
                                <div *ngIf="newProductForm.get('nombre').touched; then validar_nombre"></div>
                                <ng-template #validar_nombre>
                                    <span *ngIf="newProductForm.get('nombre').hasError('required')" class="float-left red-text text-left"> Este campo es requerido.</span>
                                    <span *ngIf="newProductForm.get('nombre').hasError('minlength')" class="float-left red-text text-left">El nombre debe tener al menos 3 caracteres.</span>
                                </ng-template>
                            </div>
                            <br>
                            <div class="md-form">
                                <label for="#2_marca" class="grey-text font-weight-light">Marca</label>
                                <input type="text" class="form-control" formControlName="marca" id="#2_marca">
                                <div *ngIf="newProductForm.get('marca').touched; then validar_marca"></div>
                                <ng-template #validar_marca>
                                    <span *ngIf="newProductForm.get('marca').hasError('minlength')" class="float-left red-text">Debe ingresar al menos 3 caracteres.</span>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="md-form">
                                <input type="text" class="form-control" formControlName="codigo_barra" id="#3_cod">
                                <label for="#3_cod" class="grey-text font-weight-light">Codigo de barra</label>
                                <div *ngIf="newProductForm.get('codigo_barra').touched; then validar_cod"></div>
                                <ng-template #validar_cod>
                                    <span *ngIf="newProductForm.get('codigo_barra').hasError('minlength')" class="float-left red-text">Debe ingresar al menos 3 caracteres.</span>
                                </ng-template>
                            </div>

                            <br>

                            <form novalidate [formGroup]="newProductForm.get('tipos')">
                                <div class="md-form">
                                    <input type="text" class="form-control" formControlName="tipo_1" id="#4_tipo" required>
                                    <label for="#4_tipo" class="grey-text font-weight-light">Tipo de producto</label>
                                    <div *ngIf="newProductForm.get('tipos').get('tipo_1').touched; then validar_tipo"></div>
                                    <ng-template #validar_tipo>
                                        <span *ngIf="newProductForm.get('tipos').get('tipo_1').hasError('required')" class="float-left red-text text-left"> Este campo es requerido.</span>
                                        <span *ngIf="newProductForm.get('tipos').get('tipo_1').hasError('minlength')" class="float-left red-text text-left"> Debe ingresar un tipo de al menos 2 caracteres.</span>
                                    </ng-template>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4 text-left">
                            <div class="md-form input-group">
                                <label class="grey-text font-weight-light ml-2">&emsp;&nbsp;&emsp;Precio de venta</label>
                                <div class="input-group-prepend pt-1">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control pl-1" formControlName="precio_venta" (keyup)="getf_porcentaje()">
                                <div *ngIf="newProductForm.get('precio_venta').touched; then validar_pventa"></div>
                                <ng-template #validar_pventa>
                                    <span *ngIf="newProductForm.get('precio_venta').hasError('min')" class="float-left red-text"> No se permiten valores negativos.</span>
                                    <span *ngIf="newProductForm.get('precio_venta').hasError('max')" class="float-left red-text"> Se supero el valor maximo admitido.</span>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="md-form input-group">
                                <label class="grey-text font-weight-light ml-2">&emsp;&nbsp;&emsp;Precio de costo</label>
                                <div class="input-group-prepend pt-1">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control pl-1" formControlName="precio_costo" (keyup)="getf_porcentaje()">
                                <div *ngIf="newProductForm.get('precio_costo').touched; then validar_pcosto"></div>
                                <ng-template #validar_pcosto>
                                    <span *ngIf="newProductForm.get('precio_costo').hasError('min')" class="float-left red-text"> No se permiten valores negativos.</span>
                                    <span *ngIf="newProductForm.get('precio_costo').hasError('max')" class="float-left red-text"> Se supero el valor maximo admitido.</span>
                                </ng-template>
                            </div>
                        </div>

                        <div class="form-group col-md-3 text-left">
                            <label class="grey-text font-weight-light">Porcentaje de utilidad</label>
                            <div class="input-group">
                                <input type="email" class="form-control text-right" formControlName="porcentaje_utilidad" readonly>
                                <div class="input-group-append form-group">
                                    <span class="input-group-text" id="inputGroupPrepend">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn primary-color-dark text-white m-2 p-2" data-dismiss="modal">
                        <span class="material-icons md-18 float-left">arrow_back</span>
                        <span class="ml-2">Cancelar</span>
                    </button>

                    <button type="button" class="btn primary-color-dark text-white m-2 p-2" (click)="limpiar_form()">
                        <span class="material-icons md-18 float-left">refresh</span>
                        <span class="ml-2">Limpiar</span>
                    </button>

                    <button type="button" class="btn primary-color-dark text-white m-2 p-2" (click)="guardar_producto()" [disabled]="newProductForm.invalid">
                        <span class="material-icons md-18 float-left">save</span>
                        <span class="ml-2">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>