<div class="card">
    <!-- <img [src]="producto.img" class="card-img-top img-card" [alt]="producto.nombre"> -->
    <div class="text-center text-light-grey">
        <span class="material-icons md-192 m-2">note_add</span>
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">Agrega un nuevo producto </h5>
    </div>
    <div class="text-center m-2">
        <app-modal-prod-new></app-modal-prod-new>
    </div>
</div>