/**/


/* Colores de botnes de barra de navegacion.*/

.navbar-custom {
    background-color: #ffffff00 !important;
}

.btn-color-custom {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(201, 201, 201);
}


/* Tipos de bordes de btones navbar-prod*/

.br-circle-init {
    border-radius: 15px 0px 0px 15px;
}

.btn-rec-circle {
    text-align: center;
    border-radius: 0px 15px 15px 0px;
}

.input-w-md {
    width: 500px auto !important;
    max-width: 500px;
}


/* Estilos de tectos*/

.text-btn {
    margin: 5px;
    text-align: left;
    font-size: medium;
}

.text-btn-color {
    margin: 5px;
    text-align: left;
    color: rgb(80, 80, 80);
}