<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom shadow-none">

    <ul class="nav navbar-nav mr-auto">
        <li>
            <button type="button" class="btn btn-outline-primary waves-effect shadow-sm p-2 mr-1 mb-1">
                <span class="float-right">Nombre de negocio</span>
            </button>
        </li>

        <li>
            <button type="button" class="btn btn-outline-primary waves-effect shadow-sm p-2 mr-1 mb-1">
                <span class="material-icons md-18 float-left mt-1 mr-2">group</span>
                <span class="">Miembros</span>
            </button>
        </li>

        <li>
            <button type="button" class="btn btn-outline-primary waves-effect shadow-sm p-2 mb-1">
                <span class="material-icons md-18 float-left mt-1 mr-2">group_add</span>
                <span class="float-left text-capitalize">Invitar</span>
            </button>
        </li>
    </ul>

    <form novalidate [formGroup] class="mx-2 my-auto d-inline w-50 mr-auto">
        <div class="input-group-append ">
            <input class="form-control br-circle-init shadow-sm " type="search" placeholder="Buscar producto" aria-label="Search" #buscarTexto>
            <button class=" input-group-text lime btn-primary btn-rec-circle shadow-sm" id="basic-text1" (click)="navbarProd_buscar(buscarTexto.value)">
                    <span class="material-icons md-18 float-left">search</span>
            </button>
        </div>
    </form>

    <ul class="nav navbar-nav">
        <li>
            <button type="button" class="btn btn-outline-primary waves-effect shadow-sm p-2">
                    <span class="material-icons m-18 float-left mr-2">tune</span>
                    <span>Filtrar</span>
                </button>
        </li>
    </ul>


</nav>