<nav class="col-md-2 d-none d-md-block rgba-grey-slight sidebar">
    <div class="sidebar-sticky">

        <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
            <i class="fa fa-bars fa-lg box-icon my-1" aria-hidden="true"></i>
            <span class="ml-2">Menu</span>
        </h6>

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/productos']" routerLinkActive="active">
                    <i class="fa fa-shopping-basket box-icon" aria-hidden="true"></i>
                    <span class="text-icon">Productos </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/negocios']" routerLinkActive="active">
                    <span class="material-icons float-left">monetization_on</span>
                    <span class="text-icon">Ventas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">
                    <i class="box-icon fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="text-icon">Compras</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">
                    <i class="box-icon fa fa-cubes" aria-hidden="true"></i>
                    <span class="text-icon">Stocks</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">
                    <i class="box-icon fa fa-truck" aria-hidden="true"></i>
                    <span class="text-icon">Proveedores</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">
                    <i class="box-icon fa fa-users" aria-hidden="true"></i>
                    <span class="text-icon">Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLinkActive="active">
                    <i class="box-icon fa fa-pie-chart" aria-hidden="true"></i>
                    <span class="text-icon">Reportes </span>
                </a>
            </li>
        </ul>

    </div>
</nav>